<div class="mt-4 grid grid-cols-1 grid-rows-1 justify-content-center pt-4">
  <article class="bg-white shadow-md pt-4 p-4 w-92 mx-auto text-base md:text-2xl text-left sm:text-justify">
    <h3 class="font-medium font-sans text-xl md:text-2xl">Feedback</h3>
    <form id="feedbackForm">
      <div id="ratingWrapper" class="mt-4 pb-1 grid grid-cols-3 grid-rows-1 justify-items-center border-rose-500">
        <div>
          <input type="radio" id="goodChoice" name="rating" value="good"
            class="hidden peer">
          <label for="goodChoice"
            class="cursor-pointer px-4 text-lg font-sans rounded border-2 border-lime-200 bg-lime-50 peer-checked:bg-lime-500 peer-checked:font-bold peer-checked:border-lime-500">
            Good
          </label>
        </div>

        <div>
          <input type="radio" id="mehChoice" name="rating" value="meh"
            class="hidden peer">
          <label for="mehChoice"
            class="cursor-pointer px-2 text-lg font-sans rounded border-2 border-amber-200 bg-amber-50 peer-checked:bg-amber-500 peer-checked:font-bold peer-checked:border-amber-500">
            Meh
          </label>
        </div>

        <div>
          <input type="radio" id="badChoice" name="rating" value="bad"
            class="hidden peer">
          <label for="badChoice"
            class="cursor-pointer px-2 text-lg font-sans rounded border-2 border-rose-200 bg-rose-50 peer-checked:bg-rose-500 peer-checked:font-bold peer-checked:border-rose-500">
            Bad
          </label>
        </div>
      </div>

      <div>
        <textarea name="comment" placeholder="Optional comment" rows="1"
          class="mt-4 w-full px-2 pt-1 text-lg border-2 border-gray-100">
        </textarea>
      </div>

      <div class="mt-2 relative h-6">
        <input type="submit" value="Send"
          class="cursor-pointer absolute top-0 rounded py-1 px-2 drop-shadow bg-gray-300
          active:drop-shadow-none active:top-1 active:bg-gray-200
          disabled:bg-gray-100 disabled:text-gray-500 disabled:cursor-not-allowed">
      </div>
    </form>
    <p class="text-gray-500 text-sm mt-10 pr-4">
      <strong>🛈</strong>
      This isn't a comment form.  It's <a href="/posts/60/" class="underline">a way to send me what you
        thought about the post</a>.  No identifying data is collected by
      this form.  You could also email (see below).
    </p>
  </article>
</div>
